html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    scroll-behavior: smooth;
}

.header {
    background-color: #000000;
    height: 35px;
    display: flex;
    align-items: center; 
    padding: 0 20px; 
    z-index: 1000;
    position: fixed!important;
    width: 100%;
}

.logo {
    width: 35px;
    height: 35px;
    /* margin-right: 25px; */
    background-color: #CC0000;
    /* margin-left: 40px; */
    position: absolute;
    float: left;
    align-self: auto;
}

.navbar {
    display: flex;
    align-items: center!important; 
    position: fixed!important;
    justify-content: center;
    z-index: 1000;
    margin-left: 50px;
    margin: auto;   
    

}

.navbar ul {
    display: flex;
    padding: 0;
    margin: 0;
    margin-left: 35px;
    padding-right: 35px;
    
}

.navbar ul li {
    list-style: none;
    margin: 0 20px;
}

.navbar a {
    text-decoration: none;
    color: #ffffffe5;
    font-size: 15px;
    font-family: sans-serif;
    font-weight: bold;
    
}

.heading1 {
    text-align: center;
    position: relative;
    top: 50px;
    font-family: sans-serif;
}

.picture {
    position: absolute; 
    right: 20px;
    top: 50%; 
    transform: translateY(-33%);
    margin-right: 80px;
    width: 500px; 
}

.text1 {
    /* margin-left: 220px;
    margin-top: 200px;
    overflow-wrap: break-word; */
    margin: auto;
    max-width: 100px;
    font: auto "sans-serif" rgb(167, 166, 166);

}

.enteng-pic-0 {
    max-width: 607px;
    max-height: 500px;
    float: top;
    margin: auto;
}

section {
    padding: 100px 20px;
    height: 100vh;
}

p {
    font-family: helvetica;
}

.text2 {
    max-width: 700px;
    overflow-wrap: break-word;
    margin-top: -50px!important;
    text-align: justify;
    margin: auto;
    padding: 0 40px;
}

.heading2 {
    display: flex;
    justify-content: center;
    margin-top: -120px;
}

.text3 {
    width: 850px;
    margin: auto;
    overflow-wrap: break-word;
    text-align: justify;
}

.enteng-pic {
    display: block;
    margin-top: 20px!important;
    width: 650px;
    margin: 20px auto;
}

.headline {
    display: flex;
    margin-top: 50px!important;
    justify-content: center;
}


.home-content {
    text-align: center;
    max-width: 670px;
    margin: auto;
}